header {
  height: 47px;
  text-align: center;
  line-height: 46px;
  border-bottom: 1px solid $grey-line;
  display:flex;
  h1 {
   font-family: "Arial Black", Arial Black, sans-serif;
    flex: 1;
   font-weight: normal;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 8px;
  }
  &.with-buttons {
    .button-holder {
      flex: 1;
      text-align: left;
      &:last-child {
        text-align:right;
      }
      button {
        display:inline-block;
        line-height: 46px;
        padding: 0 16px;
        color:$blue;
        &.secondary {
          color: $grey;
        }
      }
    }
  }
}
